{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>Movies Store</h2>
    <p>Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to Mygration!!</h4>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col mx-auto">
        <h5 class="text-center">Available Plans</h5>
        {% if template_data.plans %}
          <ul class="list-group">
              {% for plan in template_data.plans %}
                <a href="{% url 'plan.show' plan.id %}" class="list-group-item list-group-item-action">
                  <strong>{{ plan.name }}</strong> – {{ plan.description }}
                </a>
              {% endfor %}
          </ul>
        {% else %}
          <p class="text-center">No plans available.</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}