.bg-index{
  background: url("/static/img/background2.jpg") no-repeat fixed;
  background-size: 100% auto;
}

.navbar a.nav-link {
  color: #FFFEF6 !important;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #6ab43e;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.img-card-200 {
  width: 170px;
  max-height: 200px;
}

.img-card-400 {
    width: 275px;
    max-height: 400px;
}

.welcome-box {
  background-color: rgba(255, 255, 255, .8); /* light see-through white */
  padding: 20px;
  border-radius: 15px; /* makes it rounded */
  text-align: center;
  max-width: 600px;
  margin: 50px auto; /* centers it horizontally */
}